---
layout: base.njk
---

<article>
    <h1>
        {{ title }}
    </h1>

    {% if image %}
    <img src="{{ image | url }}" alt="{{ title }}" width="800">
    {% endif %}

    <div>
        {{ content | safe }}
    </div>
</article>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']]
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>